.skills {
    background: $blue;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    &__header {
      margin: 80px auto 64px;
      height: 56px;
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      color: $white;
      @media screen and (max-width: 670px) {
        margin: 64px auto 64px;
        font-size: 36px;
        line-height: 48px;
      }
    }
    &__article {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin-bottom: 64px;
    }
    &__secondary-header {
      font-weight: bold;
      font-size: 24px;
      line-height: 44px;
      color: $white;
      margin: 16px 0 0;
    }
    &__container {
      width: 100%;
      max-width: 1184px;
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
      column-gap: 24px; 
      padding: 0 0 102px;
      @media screen and (max-width: 670px) {
        padding: 0 0 22px;
      }   
    }
    &__list {
      display: inline-block;
      width: 225px;
      margin: 24px 0 0;
      padding: 0;
      text-align: left; 
      list-style-type: none;    
    }
    &__item {
      color: $light-blue;
      font-weight: 600;
      font-size: 16px;
      line-height: 36px;
      &--knowledge {
        &::before {
          content: '✓';
          color: $green;
          margin-right: 12px;
        }
      }
      &--something {
        &::before {
          content: '✓';
          color: $light-blue;
          margin-right: 12px;
        }
      }
      &--want {
        &::before {
          content: '·';
          color: $light-blue;
          margin-right: 12px;
        }
      }
    }
  }