.skills {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 30px 0;
    &__header {
      margin: 0;
      height: 56px;
      font-weight: bold;
      font-size: 40px;
      color: $header;
      @media screen and (max-width: 670px) {
        margin: 0;
        font-size: 32px;
      }
    }
    &__container {
      width: 100%;
      max-width: 1184px;
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
      column-gap: 24px; 
      padding: 0;
      @media screen and (max-width: 670px) {
        padding: 0;
      }   
    }
    &__article {
      max-width: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    &__secondary-header {
      font-weight: bold;
      font-size: 24px;
      line-height: 44px;
      color: $header;
      margin: 16px 0 0;
    }
    &__list {
      display: inline-block;
      max-width: 100%;
      margin: 24px 0 0;
      padding: 0;
      text-align: left; 
      list-style-type: none;    
    }
    &__item {
      color: $text;
      font-weight: 600;
      font-size: 16px;
      line-height: 36px;
      &--knowledge {
        &::before {
          content: '✓';
          color: $green;
          margin-right: 12px;
        }
      }
      &--something {
        &::before {
          content: '✓';
          color: $text;
          margin-right: 12px;
        }
      }
      &--want {
        &::before {
          content: '·';
          color: $text;
          margin-right: 12px;
        }
      }
    }
  }