$main-background: #1a1a1a;
$dark-background-alpha: #1a1a1ab6;
$shadow: #111111;
$glass-tile: linear-gradient(325deg, #13131377 20%, #41414173 100%);
$glass-border: #7272725d;
$header: #c2c2c2;
$text: #dddddd;
$internal-link: #4DA8FF;
$email-background: #fff;
$console-category: #b3b3b3;
$console-text: #fff;
$console-link: green;
$console-link-hover: #68ff7c;
$green: green;