$main-background: #1a1a1a;
$dark-background-alpha: #1a1a1ab6;
$shadow: #111111;
$glass-tile: #3d6136;
$glass-tile-darker: #3c4b39;
$header: #c2c2c2;
$text: #dddddd;
$internal-link: #4DA8FF;
$email-background: #003300;
$light-blue: #DBEAF7;
$green: #06C847;
$console-grey: #808082;
$console-grey-bold: #A3A3A3;
$console-blue: #14B5D0;
$console-hover-blue: #3fd4ee;