$main-background: #1a1a1a;
$dark-background-alpha: #1a1a1ab6;
$header: #d3d3d3;
$text: #dddddd;
$internal-link: #4DA8FF;
$email-background: #003300;
$light-blue: #DBEAF7;
$green: #06C847;
$console-grey: #808082;
$console-grey-bold: #A3A3A3;
$console-blue: #14B5D0;
$console-hover-blue: #3fd4ee;