@import "~normalize.css";

@import "_variables";
@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";




@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;

}

.main {
  background: $white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 1440px;
}

.email {
  width: max-content;
  height: 48px;
  background: $link-blue;
  border-radius: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: $white;
  padding: 0 24px;
  text-decoration: none;
}

.internal-link {
  color: $internal-link;
  font-weight: 700;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}
