@import "~normalize.css";

@import "_variables";
@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";
@import "modules/green-squares.scss";


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: $main-background;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;

}

.main {
  background: $main-background;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
}

.internal-link {
  color: $internal-link;
  font-weight: 700;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}
